@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
  box-sizing: border-box;
  text-align: center;
  padding-top: 11rem;
}

.carta {
  text-align: center;
  display: inline-block;
  margin: auto;
  height: 500px;
  width: 320px;
  background-color: white;
  border-radius: 25px;
  margin-top: 30px;
  padding: 5px;
  padding-top: 10rem;
  position: relative;
  font-size: 111px;
  &::after {
    position: absolute;
    top: 0px;
    left: 30px;
    font-size: 90px;
  }
  &:before {
    position: absolute;
    bottom: 20px;
    right: 30px;
    font-size: 90px;
  }
  &.spade:before,
  &.spade:after {
    content: "\2660";
  }
  &.club:before,
  &.club:after {
    content: "\2663";
  }
  &.heart:before,
  &.heart:after {
    content: "\2665";
    color: red;
  }
  &.diamond:before,
  &.diamond:after {
    content: "\2666";
    color: red;
  }
}
